.signup-container {
  background-color: #f9fafe;
  padding: 30px;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Mulish;
}

.signup-header {
  text-align: center;
}

.signup-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.signup-tagline {
  font-size: 12px;
  color: #8c8c8c;
}

.signup-title {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  margin: 20px 0;
  font-family: Jost;
  color: #202244;
}

.signup-form {
  margin-top: 20px;
}

.signup-input-group {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.signup-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #666;
}

.signup-input {
  flex: 1;
  border: 0px;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.signup-input:focus {
  border: none;
  box-shadow: none;
}

.signup-password-toggle {
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.signup-terms {
  font-size: 14px;
  color: #666;
}

.signup-btn {
  background-color: #007bff;
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn:hover {
  background-color: #0056b3;
}

.signup-alternatives {
  text-align: center;
  margin-top: 20px;
}

.signup-alt-btn {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.signup-alt-btn.google {
  color: #db4437;
}

.signup-alt-btn.apple {
  color: #333;
}

.signup-footer {
  text-align: center;
  margin-top: 20px;
}

.signup-footer a {
  color: #0961f5;
  font-weight: bold;
  text-decoration: none;
}

.signup-footer a:hover {
  text-decoration: underline;
}

.signup-alt-btn.google:hover {
  background-color: white;
  color: white;
}

.signup-alt-btn.apple:hover {
  background-color: white;
  color: black;
}

.register-social-buttons .register-social-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.register-social-button:hover {
  border-color: #bbb;
}
