.verify-container {
  background-color: #f9f9f9;
}

.verify-box {
  /* width: 41%; */
  height: 60vh;
  background-color: #F5F9FF;
  /* max-width: 400px; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.verfiyside {
  margin-top: 5vh;
}

.verify-heading {
  font-size: 1rem;
  color: #333;
}

.verify-input-group {
  display: flex;
  justify-content: space-between;
}

.verify-input {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.verify-input:focus {
  border-color: #0066ff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 102, 255, 0.5);
}

.verify-timer {
  font-size: 0.9rem;
  color: #666;
}

.verify-timer-highlight {
  color: #0066ff;
  font-weight: bold;
}

.verify-button {
  position: relative;
  padding-right: 50px;
  width: 350px;
  height: 50px;
  background-color: #0961f5;
  border-color: #0961f5;
  border-radius: 50px;
  font-size: 1rem;
}

.verify-button:hover {
  background-color: #0056e0;
  border-color: #0056e0;
}

@media (max-width: 576px) {
  .verify-input {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }

  .verify-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

.verify-iconss {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: white;
  color: #0066ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
