.cp-input-group {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 49px;
  border-radius: 19px;
}

.confrompasscol {
  margin-top: 80px;
}

.cp-icon-left,
.cp-icon-right {
  background-color: transparent;
  border: none;
  color: #6c757d;
}

.cp-icon-left {
  padding-left: 10px;
}

.cp-icon-right {
  padding-right: 10px;
}

.cp-input {
  border: none;
  outline: none !important;
  box-shadow: none;
}

.cp-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.cp-input-group {
  width: 100%;
  border-radius: 19px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cp-input {
  padding-right: 40px;
  border-radius: 19px;
}

.cp-button {
  background-color: #0961f5;
  border-color: #0961f5;
  border-radius: 50px;
  font-size: 1rem;
}

.cp-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: white;
  color: #0066ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cp-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0961f5;
  border-color: #0961f5;
  border-radius: 50px;
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.cp-button-text {
  flex: 2;
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center;
}

.cp-icon-wrapper {
  width: 35px;
  height: 35px;
  background-color: white;
  color: #0066ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
