.footer {
  background-color: #f8f9fa;
}

.footer h6 {
  color: #343a40;
  font-weight: bold;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: #a4a4aa;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer ul li a:hover {
  color: white;
}

.footer .bi {
  font-size: 1.5rem;
}

.footer .bi:hover {
  color: #155239;
}

.footer img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .footer .bi {
    font-size: 1.75rem;
  }
}
